<ion-header style="height: 60px; padding: 0;">
  <ion-toolbar style="height: 60px; padding: 0;">
    <ion-nav-link slot="start" class="ion-margin" style="margin: 0; margin-left: 15px;">
      <app-language #selectLanguage></app-language>
    </ion-nav-link>
    <div slot="end" class="ion-margin">
      <ion-nav-link (click)="navigateTheme()">
        <ion-icon name="color-wand-outline"></ion-icon>
        {{ 'Login.Button.Theme' | translate }}
      </ion-nav-link>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <div class="background"></div>
  <div class="centrar">
    <div style="margin-top:80px">
      <img src="../../assets/img/logoBlanco.png" class="shadowed-image">
      <h2 class="ion-padding-bottom">{{ 'AppName' | translate }}</h2>
      <ion-card>
        <ion-card-content class="ion-padding-vertical">
          <ion-item>
            <ion-icon slot="start" src="../../../assets/img/Screenshot2.png" aria-hidden="true"></ion-icon>
            <ion-input
              id="correo"
              [(ngModel)]="correo"
              label="{{ 'Login.Label.Email' | translate }}" 
              labelPlacement="floating"
              fill="outline"
              placeholder="{{ 'Login.Placeholder.Email' | translate }}">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-icon slot="start" src="../../../assets/icon/Screenshot1.png" aria-hidden="true"></ion-icon>
            <ion-input
              id="password"
              [(ngModel)]="password"
              label="{{ 'Login.Label.Password' | translate }}"
              labelPlacement="floating"
              fill="outline"
              placeholder="{{ 'Login.Placeholder.Password' | translate }}"
              type="password">
            </ion-input>
          </ion-item>
        </ion-card-content>

        <!-- Main Buttons Section -->
        <div class="buttons-container" style="margin-bottom: -20px">
          <ion-button class="ion-padding-vertical" (click)="login()">
            {{ 'Login.Button.Login' | translate }}
          </ion-button>
        </div>
        
        <div class="additional-buttons-container">
          <ion-button class="ion-padding-vertical" (click)="passwordRecovery()">
            {{ 'Login.Button.ForgotPassword' | translate }}
          </ion-button>
          <ion-button class="ion-padding-vertical" (click)="registrarme()">
            {{ 'Login.Button.registrarme' | translate }}
          </ion-button>
          <ion-button class="ion-padding-vertical" (click)="miruta()">
            {{ 'Login.Button.Map' | translate }}
          </ion-button>
        </div>
        
      </ion-card>
    </div>
  </div>
</ion-content>

